.footer {
    background: #333333;
    padding: 67px 0px 20px 0px;

}
.footer-description {
    color: #676767;
    font-size: 1.4rem;
}
.footer-item__heading {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.footer-description ul {
    margin: 0;
    padding: 0;
}
.footer-description ul li{
   height: 26px;
}
.footer-menu {
    border-bottom:#525455 solid 1px;
    padding-bottom: 30px;

}
.footer-bottom {
    margin-left:12px;
    margin-right:12px;

    margin-top: 20px;
    color: #676767;
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
}
.footer-bottom img {
    display: inline-block;
    margin-left: auto;
    object-fit: contain;
}