.header {
    font-size: 1.3rem;
}
.header__top {
    position: relative;
    justify-content: space-between;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}
.header__top-left {
    display: flex;
    flex-direction: row;
}
.header__top-left > div:nth-child(2){
    margin-left: 20px;
}
.dropdown-menu > a {    
    text-decoration: none;
    transition: color 0.3s ease;
}
.dropdown-menu > a > i {    
    margin-left: 8px;
    font-size: 1.6rem;
}


.dropdown-menu > a:hover {    
    color: #c96;


}
.dropdown-menu:hover .dropdown-menu__list  {    
  display: block;

}


.dropdown-menu__list {
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 2px 5px 8px rgba(51,51,51,0.05), -2px 5px 8px rgba(51,51,51,0.05);
    z-index: 20;
   
}
.dropdown-menu__list > ul{
    list-style: none;
    padding: 0px 10px 0px 10px;
} 
.dropdown-menu__list > ul > li > a {
    padding: .3rem 0.5rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
}
a:visited {
    color: #666;
}
.header__top {
    color: #666;
    text-decoration: none;
}
.header__top-right {
}
.header__top-right >ul {
    display: flex;
    list-style: none;

}
.header__top-right >ul >li{
    margin: 0 10px;
    cursor: pointer;
}
.header__top-right >ul >li > i{
    margin: 0 5px;

}
.header__top-right >ul >li:hover{
    color: #c96;

}
.header__bottom {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}
.header__bottom-left, .header__bottom-right  {
    display: flex;
    align-items: center;
}
.header__bottom > .header__bottom-left > ul, .header__bottom > .header__bottom-right > ul {
    list-style: none;
    display: flex;
    cursor: pointer;
    
}
.header__bottom-left > ul > li, .header__bottom-right > ul > li {
    max-height: 22px;
    margin: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.header__bottom-right > ul > li > i {
font-size: 2.2rem;
}
.header__bottom-right > ul > li:hover {
    color: #c96;
    }
.input-search {
    cursor: pointer;
    outline: none;
    min-width: 270px;
    background-color: #fff;
    border: .1rem solid #ebebeb;
    border-radius: 20px;
    padding: .9rem 5rem .9rem 2.3rem;
}
.li-search-group {
    position: relative;
    
}
#check-search {
    visibility: hidden;
}
.check-search {
    cursor: pointer;
    position: absolute;
    right:10px;
}
input[type=checkbox]:checked ~ .input-search {
    display: none;
  } 
.header__bottom-right > ul > li:nth-child(2):after{
    content: '';
    position: absolute;  
    top:-3px;
    right:-10px;
    border: #c96 solid 7px;	
    border-radius: 50px;
}
.cart-number {
    position: absolute;  
    top:-5px;
    right:-7px;
    z-index: 2;
    color: #fff;
    font-size:1.1rem;
}
.active-li {
    color: #c96;

}
.bar-mobile {
    font-size: 2.5rem;
    margin-right: 10px;
}
.wrapper12 {
    padding: 22px 30px 15px 30px;
    display: flex;
}
.col3 img {
    display: block;
}
.shop-menu-dropdown {
    
    font-size: 1.4rem;
    font-weight: 400;

    display: flex;
    
    position: absolute;
    left: 10%;
    top:101%;
    z-index: 66;
    max-height: 350px;
    overflow-y: auto;
    border: none;
    box-shadow: 5px 10px 16px rgba(51,51,51,0.05), -5px 10px 16px rgba(51,51,51,0.05);
    background-color: #fff;
    /* visibility: hidden;
    opacity: 0; */
    transition: all .25s;
}
.col1, .col2 {
    margin: 0 5px;
    flex: 1;
    min-width: 150px;
}
.col1 ul, .col2 ul, .col3 ul {
    padding:0;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 10px 0;
}
.col1  ul li, .col2  ul li, .col3 ul li {
    margin: 10px 0;
    columns: #A6C5EB;
}

.dropdown-cart-items {
    display: block;
    position: absolute;
    right: 0;
    top:101%;
    padding: 22px 30px 15px 30px;
    z-index: 4;
    max-height: 350px;
    overflow-y: auto;
    width: 300px;
    border: none;
    box-shadow: 5px 10px 16px rgba(51,51,51,0.05), -5px 10px 16px rgba(51,51,51,0.05);
    background-color: #fff;
    /* visibility: hidden;
    opacity: 0; */
    transition: all .25s;
}
.dropdown-cart-items ul {
    max-height: 600px;
    overflow: scroll;
    padding:0;
    margin:0;
}
.dropdown-cart-items ul li {

    border-bottom: 1px solid #ebebeb;
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 5px;
    
}
.dropdown-cart-items-left{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 67%;
}
.dropdown-cart-items-left h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 5px;
}
.dropdown-cart-items-right {
    justify-content: space-between;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    width: auto;
}
.dropdown-cart-items-right img {
    object-fit: contain;
     width: 70%;
    height: auto;
}
.dropdown-cart-items-left__amount {
    
    color: #A69E99;
    font-weight: 400;
    font-size: 1.4rem;
}
.dropdown-cart-items-left__close {
    margin-left: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;

}
.menu-li > li > i {
    margin-left: 4px;
}