.checkout-containter {
    font-size: 1.6rem;
}
.page-title-banner {
    background-image: url(https://d-themes.com/react/molla/assets/images/page-header-bg.jpg);
    padding: 4.6rem 0 5rem;
    background-color: #ebebeb;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center!important;
    font-weight: 300;

}
.page-title-banner___title {
    font-size: 3.5rem;
    font-weight: 400;

    margin:0;
}
.page-title-banner___subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #c96;
}
.table-cart {

    margin-top: 20px;
    width: 100%;
}
.cart-overview {
    margin-top: 40px;

    padding: 2.5rem 3rem 3rem;
    border: .1rem dashed #d7d7d7;
    background-color: #f9f9f9;
    border-radius: .3rem;
}

.cart-overview__heading {
    margin:0;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 1.7rem;
    border-bottom: .1rem solid #cccccc;
}
.cart-overview__table {
    width: 100%;
    color: #333;
    font-weight: 400;
    font-size: 1.8rem;
}
.cart-overview__table tr {
    height: auto;
    font-size: 1.8rem;
    border:none;

}
.cart-overview__table tr th {
    font-weight: 400;
    padding: 20px 0px;

        border-bottom: 1px solid #d6cfcf;

}
.cart-overview__table tr td {
    font-size: 1.6rem;
    border:none;
    padding: 10px 0px;
    
}


.cart-overview__table tr th:nth-child(1), .cart-overview__table tr td:nth-child(1) {
   text-align: left;
}
.cart-overview__table tr th:nth-child(2), .cart-overview__table tr td:nth-child(2) {
    text-align: right;
    margin: 10px 0;
 }


.table-cart thead tr {
    vertical-align: middle;

    border-bottom: 1px solid #d6cfcf;
}

.table-cart thead tr th {
    padding: 10px 10px;
    color: #999;
    font-weight: 300;

}
table {
    border-collapse: collapse; /* This line */
}
.product-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
table,

tr {
    border-bottom: 1px solid #d6cfcf;
    height: 85px;
   

}
.product {
    display: flex;
    align-items: center;
   
}
.product-media{
    height: 50px;
    display: inline-block;
    margin: 5px;
}
.product-media img {
    height: 100%;
    object-fit: cover;
}
.product-title {
    display: inline;
    font-weight: 400;
    font-size: 1.6rem;
}


.table-cart tbody tr td{
    text-align: center;
    color: #5a4e4e;
}

.cart-product-quantity-btn {
    position: relative;
    margin: auto;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    outline: none;
    width: 100%;

}

.input-group-prepend,.input-group-append  {
    height: 100%;
    display: flex;
    align-items: center;
}

.input-group-prepend {
    position: absolute;
    left: 0;

}
.input-group-append {
    position: absolute;
    right: 0;
    top:0;
}
.input-group-prepend button, .input-group-append button {
    color: #333333;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.cart-product-quantity-btn input {
    font-size: 1.6rem;
    width: 100%;
    padding: 0 10px;
    height: 45px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #d6cfcf;

}
.quantity-col {
    padding: 0px 10px;
    width: 120px;
}
.total-col {
    color: #c96!important;
}
.remove-col {
    cursor: pointer;
}
.checkout-content-wrapper {
    margin-bottom: 50px;
}

.checkout-btn-group {
    margin: 20px 0;
}
.total-price {
    margin: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout-btn {
    display: inline-block;
    padding: 0;
    width: 100%;
}
.custom-control-input {
    width: 1.6rem;
    margin-right: 10px;
    position: relative;
    top:1px;
}