.modal-molla {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.modal-molla__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 77, 0.6);
  z-index: inherit;
}

.modal-auth {
  position: fixed;
  max-width: 575px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px 60px;
}
.modal-auth__tab {
  margin-bottom: 20px;
  display: flex;
  color: #c96;
  transition: all 0.35s ease;
  font-size: 2.5rem;
}
.modal-auth__tab span {
  padding: 10px 60px;
  border-color: #d7d7d7;
  border-width: 2px;
  border-bottom-color: rgba(51, 51, 51, 0.4);
  border-bottom-style: solid;
  cursor: pointer;
}
.modal-auth__tab--active {
  border-bottom-color: #c96 !important;
}
.form-group {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 10px 0;
}
.label-input {
  margin: 10px 0;
}
.form-group__input {
  height: 40px;
  padding: 0.85rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #777;
  margin-bottom: 15px;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 0;
  transition: all 0.3s;
  box-shadow: none;
  width: 100%;
  outline: none;
}
.login-row,
.remember-me {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  font-weight: 300;
  justify-content: space-between;
  cursor: pointer;
}
.remember-me input,
.remember-me label {
  cursor: pointer;
}
